<table class="table table-bordered">
	<h4>Table 4.3: Current religious or spiritual identity</h4>
	<thead>
		<tr style="background-color: navy; color: white; font-weight:bold;">
			<th>Current religious or spiritual identity</th><th align="right">% of respondents</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Spiritual, but no religious affiliation</td><td align="right">25%</td>
		</tr>
		<tr class="table-info">
			<td>Agnostic</td><td align="right">23%</td>
		</tr>
		<tr>
			<td>Atheist</td><td align="right">22%</td>
		</tr>
		<tr class="table-info">
			<td>Christian</td><td align="right">21%</td>
		</tr>
		<tr>
			<td>Pagan</td><td align="right">9%</td>
		</tr>
		<tr class="table-info">
			<td>Buddhist</td><td align="right">6%</td>
		</tr>
		<tr>
			<td>Jewish</td><td align="right">4%</td>
		</tr>
		<tr class="table-info">
			<td>Secular Humanist</td><td align="right">4%</td>
		</tr>
		<tr>
			<td>Wiccan</td><td align="right">4%</td>
		</tr>
		<tr class="table-info">
			<td>Druid</td><td align="right">1%</td>
		</tr>
		<tr>
			<td>Hindu</td><td align="right">1%</td>
		</tr>
		<tr class="table-info">
			<td>Muslim</td><td align="right">1%</td>
		</tr>
		<tr>
			<td>Native American Traditional Practicioner or Ceremonial</td><td align="right">1%</td>
		</tr>
		<tr class="table-info">
			<td>Polytheist (write-in response)</td><td align="right">1%</td>
		</tr>
		<tr>
			<td>Taoist</td><td align="right">1%</td>
		</tr>
		<tr class="table-info">
			<td>Baha'i</td><td align="right"><1%</td>
		</tr>
			<td>Confucian</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>Jain</td><td align="right"><1%</td>
		</tr>
			<td>Jehovah's Witeness</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>Rastafarian</td><td align="right"><1%</td>
		</tr>
		<tr>
			<td>Scientologist</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>Shinto</td><td align="right"><1%</td>
		</tr>
		<tr>
			<td>Sikh</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>Tenrikyo</td><td align="right"><1%</td>
		</tr>
		<tr>
			<td>A religious afflation or spiritual identity not listed above</td><td align="right">7%</td>
		</tr>
		<tr class="table-info">
			<td>No affiliation</td><td align="right">13%</td>
		</tr>
	</tbody>
</table>