<table class="table table-bordered">
	<h4>Table 4.2: Main reasons for not telling people they are non-binary</h4>
	<thead>
		<tr style="background-color: navy; color: white; font-weight:bold;">
			<th>Main reasons for not telling others about non-binary identity</th><th align="right">% of non-binary respondentsrespondents</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most people do not understand so they do not try to explain it</td><td align="right">86%</td>
		</tr>
		<tr class="table-info">
			<td>It is easier not to say anything</td><td align="right">82%</td>
		</tr>
		<tr>
			<td>Most people dismiss it as not being a real identity or a "phase"</td><td align="right">63%</td>
		</tr>
		<tr class="table-info">
			<td>They may face violence</td><td align="right">43%</td>
		</tr>
		<tr>
			<td>They are not ready to tell people they identify as non-binary</td><td align="right">35%</td>
		</tr>
		<tr class="table-info">
			<td>They might lose their job or not be able to get a job</td><td align="right">35%</td>
		</tr>
		<tr>
			<td>They might not get the medical care they need</td><td align="right">24%</td>
		</tr>
		<tr class="table-info">
			<td>They might be hurt financially</td><td align="right">23%</td>
		</tr>
		<tr>
			<td>They might face mistreatment at school</td><td align="right">18%</td>
		</tr>
		<tr class="table-info">
			<td>Their friends might reject them</td><td align="right">18%</td>
		</tr>
		<tr>
			<td>AThey might become homeless</td><td align="right">12%</td>
		</tr>
		<tr class="table-info">
			<td>Their church or faith community might reject them</td><td align="right">6%</td>
		</tr>
		<tr>
			<td>A reason not listed above</td><td align="right">18%</td>
		</tr>
	</tbody>
</table>