{% load static %}
<!DOCTYPE html>
<title>Stats US Map</title>
<meta charset="utf-8">

<!-- css styling for the US map -->
<link rel="stylesheet" type="text/css" href="{% static 'trans_stats/css/trans_stats_us_map.css' %}">
<!-- css styling for table 4.1 -->
<link rel="stylesheet" type="text/css" href="{% static 'trans_stats/css/table_styling.css' %}">
<!-- css styling for page -->
<link rel="stylesheet" type="text/css" href="{% static 'trans_stats/css/page_styling.css' %}">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!-- chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
<!-- chart js library that allows for labels inside pie slices -->
<script src="{% static 'trans_stats/js/ChartPieceLabel.js' %}"></script>

<body>
	<!-- where we're holding the modal for now -->
	<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
	<div id="themodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div id="something-unique" class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<h5 class="modal-title">Respondent Populations based on State of Residence</h5>
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
      		</div>
			<div id="trans_pop_map">
				<div id="tooltip"></div><!-- div to hold tooltip. -->
				<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
				<script src="{% static 'trans_stats/js/uStates.js' %}"></script> <!-- creates uStates. -->
				<script src="https://d3js.org/d3.v3.min.js"></script>
				<script src="{% static 'trans_stats/js/population_data.js' %}"></script>
			</div>
	    </div>
	  </div>
	</div>
	<!-- end modal holder -->
	<div class="container top-part">
		<div class="row">
			<div class="col-sm-10 header-thingy">
				<h1 style="margin-top: 25px; margin-bottom:10px;">Portrait of USTS Respondents</h1>
				<p>With 27,715 respondents, the U.S. Transgender Survey (USTS) is the largest survey ever conducted
				of transgender people in the United States, providing a rich understanding of numerous aspects
				of their lives and experiences. In this chapter, an overview of respondents’ diverse gender
				identities and experiences with transitioning is presented. Additional characteristics of USTS respondents,
				such as race and ethnicity, age, educational attainment, and geographic location, are also presented. This
				information is discussed in the following sections:</p>
			</div>
		</div>
		<div class="row categories">
			<div class="col-sm-1"></div>
			<div class="col-sm-3 col-sm-offset-3">
				<ol type="I">
					<li>Gender Identity and Expression</li>
					<li>Experiences with Transitioning</li>
					<li>Being Percieved as Transgender by Others</li>
					<li>Outness</li>
					<li>Race and Ethnicity</li>
				</ol>
			</div>
			<div class="col-sm-3">
				<ol type="I" start="6">
					<li>Age</li>
					<li>Location</li>
					<li>Primary Language Spoken in Home</li>
					<li>Religious or Spiritual Identity</li>
					<li>Income and Employment Status</li>
				</ol>
			</div>
			<div class="col-sm-3">
				<ol type="I" start="11">
					<li>Educational Attainment</li>
					<li>Disability</li>
					<li>Citizenship and Immigration Status</li>
					<li>Sexual Orientation</li>
					<li>Relationship Status</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="container section">
		<div class="row">
			<div class="col-sm-12">
				<h2>I. Gender Identity and Expression</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
				<h3>a.) Identity</h3>
				<p>The word transgender is often used as an “umbrella term” intended to encompass the spectrum of identities and capture the diversity of people whose gender differs from the one they were thought to be at birth. However, language describing identity continues to evolve, and it is difficult to describe all of those identities using just one term. Acknowledging this wide range of identities, the survey asked respondents if they thought of themselves as “transgender.” Eighty-eight percent (88%) of respondents reported that they thought of themselves as transgender, while the remaining 12% used other terms to describe their gender and related experiences.</p>
				<p>Respondents were also asked how comfortable they were with the word “transgender” being used to describe them on a five-point scale from “very comfortable” to “very uncomfortable.” Eighty-six percent (86%) expressed that they were comfortable or neutral using this term, including 82% percent of non-binary respondents. Forty-three percent (43%) were “very comfortable,” and only 14% expressed discomfort with being described as transgender2 (Figure 4.1). </p>
				<h4>Figure 4.1</h4>
				<p>Respondent’s level of comfort with the word “transgender” being used to describe them</p>
				<canvas id="figure4.1" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure41.js' %}""></script>
				<p>Respondents were also offered a list of identity terms from which they could check all terms that described their gender identity, and they were also given an opportunity write in a gender that was not listed (Table 4.1). In addition to the listed terms, respondents wrote in more than 500 unique gender terms with which they identified. </p>
				{% include "trans_stats/gender_identity_terms_table.html" %}
				<h4>b.) Gender Identity Categories Used for Analysis</h4>
				<p>Respondents were also asked to choose only one
					term that best described their current gender identity
					out of six possible terms (woman, man, trans woman
					(MTF), trans man (FTM), non-binary/genderqueer,
					or crossdresser) to determine the gender identity
					categories used for primary analysis.
				</p>
				<p>
					Respondents were grouped into four gender identity categories
					based on their responses. These four categories
					are used throughout this report to discuss the
					experiences of those who completed the survey:
					transgender women, transgender men, non-binary
					people, and crossdressers.
					4 Those who said that
					woman or transgender woman best described their
					gender identity were included in the transgender
					women analytical category (33%), and those who said
					that man or transgender man best described their
					gender identity were included in the transgender
					men analytical category (29%). Overall, 62% of
					respondents were included in the transgender men
					and women categories. Three percent (3%) said that
					crossdresser best described their gender identity.
					</p>
			</div>
			<div class="col-sm-6">
				<p>More than one-third (35%) of respondents indicated
					that their gender identity was best described as nonbinary
					or genderqueer, a term often used to describe
					people whose gender is not exclusively male or
					female, including those who identify with a gender
					other than male or female, as more than one gender,
					or as no gender (Figure 4.2). Throughout the report,
					these respondents are referred to as “non-binary.”</p>
				<h4>Figure 4.2</h4>
				<p>Gender Identity</p>
				<canvas id="figure4.2" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure42.js' %}""></script>
				


				<h4>c.) Gender Assignment at Birth</h4>
				<p>Respondents were asked about the sex they
				were “assigned at birth, on [their] original birth
				certificate.” In this report, the term “respondents
				with male on their original birth certificate” is used to describe respondents who were thought to be
				male when they were born (such as transgender
				women), and “respondents with female on their
				original birth certificate” is used to describe
				respondents who were thought to be female
				when they were born (such as transgender men).
				More than half (57%) of respondents had female
				on their original birth certificate, and 43% had
				male on their original birth certificate. Of those
				who were non-binary, 80% had female on their
				original birth certificate, and 20% had male on
				their original birth certificate. </p>




				<h4>d.) Development of Transgender Identity and Interactions with Other Transgender People</h4>
				<p>Respondents received questions related to
					the development of their transgender identity
					throughout their lives. A majority of respondents
					(60%) reported that they began to feel “different”
					from the sex on their original birth certificate at
					age 10 or younger, including 32% who began to
					feel different at age 5 or younger, and 28% who
					began to feel different between the ages of 6 and
					10. Six percent (6%) reported that they began to
					feel different at age 21 or older (Figure 4.3).
				</p>
				<h4>Figure 4.3</h4>
				<p> Age they began to feel gender was different from the one on their original birth certificate</p>
				<canvas id="figure4.3" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure43.js' %}""></script>
				<p>Respondents were also asked how old they
				were when they started to think of themselves as
				transgender, even if they did not know that word.
				One in ten (10%) reported that they began thinking
				of themselves as transgender at age 5 or younger.
				Sixteen percent (16%) began to think of themselves
				as transgender between the ages of 6 and 10, and
				28% between the ages of 11 and 15. Eight percent
				(8%) reported beginning to think of themselves as
				transgender at age 26 or older (Figure 4.4).</p>
				<h4>Figure 4.4</h4>
				<p> Age they started to think they
				were transgender</p>
				<canvas id="figure4.4" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure44.js' %}""></script>



				<h4>e.) Gender Identity and Current Age</h4>
				<p>The age profile of respondents7
				 differed widely by
				gender identity categories, with nearly half (47%) of
				transgender men and women being aged 25–44,
				compared to 35% of non-binary respondents, and
				29% of crossdressers. Non-binary respondents were
				more likely to be younger, with nearly two-thirds (61%)
				being aged 18–24, in contrast to transgender men
				(43%), transgender women (24%), and crossdressers
				(8%). One in five (20%) crossdressers were aged
				65 or older, compared to only 5% of transgender
				women, 1% of non-binary respondents, and less than
				1% of transgender men (Figure 4.6).</p>
				<canvas id="figure4.6" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure46.js' %}""></script>


			</div>
		</div>
	</div>
	<div class="container section">
	<div class="row">
			<div class="col-sm-12">
				<h2>II. Experiences with Transitioning</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
				<p>Transitioning is a process by which a person begins
				to live in a gender that is different than the one on
				their original birth certificate. Not all transgender
				people have transitioned or intend to do so, but
				many do. Gender transition can involve many
				different aspects, including changing one’s clothing,
				appearance, name, and identity documents (such
				as driver’s licenses or passports) and asking people
				to use different pronouns (such as he, she, or they)
				than the ones associated with the gender on one’s
				original birth certificate. Transitioning may also
				include undergoing medical procedures, such as
				hormone therapy or surgeries, to change one’s
				physical characteristics. Some people make many
				of these changes while others do not, depending
				on their needs and resources. Additionally, some
				transgender people may desire and make some of
				these changes even if they do not intend to live full
				time in a gender that is different than the one on
				their original birth certificate. However, many people
				who want to take these steps are not able to do so
				because of financial constraints, safety concerns, fear
				of discrimination and rejection, and other barriers</p>



				<h3>a.) Full-Time Status and Transition</h3>
				<p>Nearly two-thirds (62%) of respondents were
				currently living full time in a gender that was different
				from the one on their original birth certificate.
				Throughout the report, the process of living full
				time in a gender that is different than that on one’s
				original birth certificate is described as “transitioning.”
				Twenty-two percent (22%) of respondents reported
				that they wanted to transition someday, 13% were
				unsure, and 3% did not want to transition (Figure
				4.7). Three-quarters (75%) of transgender men and
				women had transitioned, and 43% of non-binary
				respondents had transitioned (Figure 4.8).8</p>
				<h4>Figure 4.7 Transition status of respondents</h4>
				<canvas id="figure4.7" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure47.js' %}""></script>
				<canvas id="figure4.8" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure48.js' %}""></script>
				<p>Respondents were also asked what gender they
				were living in on a day-to-day basis. Thirty-five
				percent (35%) of respondents reported that they
				currently lived as a man on a daily basis, 30% lived
				as a woman, 21% lived as neither a man nor a
				woman, and 15% lived part time in one gender and
				part time in another.</p>



				<h3>b.) Age of Transition</h3>
				<p>Those who have transitioned reported the age at
				which they began transitioning, or living full-time
				in a gender other than that on their original birth
				certificate. Nearly half (43%) reported that they
				began transitioning between the ages of 18 and 24,
				and nearly one-quarter (24%) transitioned between
				ages 25 and 34. Fifteen percent (15%) transitioned
				under the age of 18, and 18% transitioned at age 35
				or older. Non-binary respondents and transgender
				men were more likely to have transitioned at a
				younger age, with 24% of non-binary respondents
				and 17% of transgender men transitioning under the
				age of 18, compared to 7% of transgender women
				(Figure 4.9).9</p>
				<canvas id="figure4.9" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure49.js' %}""></script>


				<h3>c.) Number of Years Since Transitioning</h3>
				<p>The number of years since a respondent had
				transitioned was determined in order to provide
				valuable information and context for some of
				the respondents’ experiences.10 Nearly one-third
				(31%) of those who had transitioned had done
				so within one year of taking the survey, 38% had
				transitioned 2 to 5 years prior, 13% transitioned
				6 to 9 years prior, and 18% had transitioned 10 or
				more years prior (Figure 4.10). </p>
				<h4>Figure 4.10: Number of years since transitioning</h4>
				<canvas id="figure4.10" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure410.js' %}""></script>
			</div>
			<div class="col-sm-6">

				<h3>d.) Additional Questions for Non-Binary Respondents</h3>
				<p>Non-binary respondents received questions about
				what they tell other people about their gender identity.
				They were asked about what gender they were
				perceived to be by people who did not know they
				were non-binary. A majority reported that people
				usually assumed they were non-transgender women
				(58%), including 72% of non-binary respondents with
				female on their original birth certificate, and 2% of nonbinary
				respondents with male on their birth certificate.
				Seventeen percent (17%) reported that other people
				assumed they were non-transgender men, including
				77% of non-binary respondents with male on their
				original birth certificate, and 3% of non-binary
				respondents with female on their birth certificate.
				Nearly one in five (19%) reported that assumptions
				about their gender varied (Figure 4.11).</p>
				<h4>Figure 4.11 Gender that people who do not know they are non-binary usually assume they are</h4>
				<canvas id="figure4.11" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure411.js' %}""></script>
				<p>Non-binary respondents were asked how they
				responded when people in their life assumed their
				gender was something other than non-binary.
				Almost half (44%) reported that they usually let
				others assume they were a man or woman, and
				53% sometimes corrected others and told them
				about their non-binary identity. Only 3% always
				told others that they were non-binary (Figure 4.12).</p>
				<canvas id="figure4.12" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure412.js' %}""></script>
				<p>Non-binary respondents who reported that they
				usually let others assume they are a man or
				woman or only sometimes tell people they are
				non-binary were asked for the main reasons they
				do not tell others about their non-binary identity.
				Respondents could select multiple reasons for
				choosing not to tell people about their non-binary
				identity. A majority of non-binary respondents
				reported that people do not understand so they
				do not try to explain it (86%) or that it is easier not
				to say anything (82%). Approximately two-thirds
				reported that their non-binary identity is often
				dismissed as not being a real identity or just a
				phase (63%), and others feared they might face
				violence (43%) (Table 4.2).</p>
				{% include "trans_stats/table42.html" %}




				<h3>e.) pronouns</h3>
				<p>Eighty-four percent (84%) of respondents reported
				that the pronouns they used were different from
				those associated with the sex on their original birth
				certificate. Respondents reported a wide range
				of pronouns that they asked people to use when
				referring to them and could select more than one
				pronoun. The most widely used pronouns were
				“he/his” (37%), “she/her” (37%), and “they/their”
				(29%). One in five (20%) reported that they did
				not ask people to use specific pronouns when
				referring to them, and another 4% indicated that
				they used pronouns other than those provided
				in the answer choices. This included more than a
				dozen additional pronouns provided through writein
				responses (Figure 4.13). </p>
				<canvas id="figure4.13" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figure413.js' %}""></script>

			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<!-- jquery animations -->
<script>
$(document).ready(function(){
	$("#trans_pop_map").hide()
	$("button").click(function(){
		$("#trans_pop_map").slideDown()
		$("#exit").click(function(){
			$("#trans_pop_map").slideUp();
		})
	})
})
</script>