{% extends "trans_stats/_base.html" %}
{% load static %}

{% block title %}
	Chapter 4: A Portrait of USTS Respondents
{% endblock title %}

{% block head %}
	<!-- css styling for the US map -->
	<link rel="stylesheet" type="text/css" href="{% static 'trans_stats/css/trans_stats_us_map.css' %}">
	<!-- css styling for page -->
	<link rel="stylesheet" type="text/css" href="{% static 'trans_stats/css/page_styling.css' %}">
	{{block.super}}
{% endblock head %}



{% block body %}
	{% include "trans_stats/sections/top_part.html" %}


	{% include "trans_stats/sections/section_1.html" %}


	{% include "trans_stats/sections/section_2.html" %}


	{% include "trans_stats/sections/section_3.html" %}

	
	{% include "trans_stats/sections/section_4.html" %}


	{% include "trans_stats/sections/section_5.html" %}


	{% include "trans_stats/sections/section_6.html" %}


	{% include "trans_stats/sections/section_7.html" %}


	{% include "trans_stats/sections/section_8.html" %}

	
	{% include "trans_stats/sections/section_9.html" %}


	{% include "trans_stats/sections/section_10.html" %}


	{% include "trans_stats/sections/section_11.html" %}

	<!-- jquery-->
	<div id="jQuery">
		<script src="{% static 'trans_stats/js/libraries/chapter_4_jquery.js' %}""></script>
	</div>

{% endblock body %}



<!-- section 1, 2, 9, 10  -->