{% load static %}
<div class="container section">
	<div class="row headd">
		<div class="col-sm-12">
			<h2>IX. Religious or Spiritual Identity</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
			<p>Respondents were asked about their current
			religious or spiritual identity and could select
			one or more identities from a provided list, or
			they could select a religious affiliation or spiritual
			identity not listed.27,28 Sixty-three percent (63%) of
			respondents reported that they had a spiritual or
			religious identity, and 37% of respondents reported
			that they did not have a spiritual or religious
			identity.29 Respondents were most likely to identify
			as agnostic (23%), atheist (22%), or Christian (21%),
			followed by a smaller percentage who identified as
			Pagan (9%), Buddhist (6%), or Jewish (4%). Onequarter
			(25%) of respondents identified as spiritual,
			but with no religious affiliation. Thirteen percent
			(13%) had no religious or spiritual affiliation, and 7%
			identified a religious affiliation or spiritual identity
			that was not listed (Table 4.3).</p>
		</div>
		<div class="col-sm-6">
			{% include "trans_stats/table43.html" %}
		</div>
	</div>
</div>