{% load static %}

<div class="container section">
	<div class="row headd">
			<div class="col-sm-12">
				<h2>IV. Outness</h2>
			</div>
	</div>
	<div class="row">
		<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
			<p>Respondents were asked whether they thought
			different groups of people in their lives knew that
			they were transgender to determine if they were
			“out”12 about their transgender identity to family
			members, friends, supervisors and colleagues
			at work, classmates, and health care providers.
			Respondents were asked whether all, most, some,
			or none of the people in their lives knew they were
			transgender in each of the groups of people in
			their lives. Results reflect only those respondents
			who had people from each group in their lives.
			Overall, 8% reported that they were out to all
			of the people in their lives, across all groups of
			people, 48% were out to most, 43% were out to
			some, and only 2% were out to none of the people
			in their lives. </p>
			<p>Nearly two-thirds (62%) were out to all or most
			of the immediate family that they grew up with,
			and 38% were out to all or most of their extended
			family.13 Regarding workplace environments,
			nearly one-half reported that none of their current
			supervisors (49%) or coworkers (42%) knew that
			they were transgender.14 In terms of health care
			providers, although 40% reported that all of
			their health care providers knew that they were
			transgender, almost one-third (31%) indicated that
			none of their health care providers knew that they
			were transgender (Figure 4.16). </p>
			<p>Of all groups of people the survey asked about,
			respondents were most likely to be out to all of
			their LGBT friends (62%). Respondents were also
			asked about the methods by which they socialize
			with other transgender people. Sixty-four percent
			(64%) reported that they socialized with other
			transgender people in person, and 79% socialized
			online. Nearly one-third (32%) said they interacted
			with transgender people in political activism, and
			10% reported that they did not socialize with other
			transgender people. </p>
		</div>
		<div class="col-sm-6">
			<canvas id="figure4.16" width="200" height="300"></canvas>
			<script src="{% static 'trans_stats/js/figures/figure416.js' %}""></script>
		</div>
	</div>
</div>