{% load static %}

<div class="container section">
	<div class="row headd">
			<div class="col-sm-12">
				<h2>V. Race and Ethnicity</h2>
			</div>
	</div>
		<div class="row">
			<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
				<p>Respondents received a question on race and
				ethnicity and were asked to select only one of
				the following categories that most accurately
				described their racial or ethnic identity:</p>
				<ul>
					<li>Alaska Native (received a write-in option)</li>
					<li>American Indian (received a write-in option)</li>
					<li>Asian or Asian American</li>
					<li>Biracial or multiracial (received a write-in option</li>
					<li>Black or African American</li>
					<li>Latino/a or Hispanic</li>
					<li>Middle Eastern or North African</li>
					<li>Native Hawaiian or Pacific Islander</li>
					<li>White or European American</li>
					<li>A racial or ethnic identity not listed above (received a follow-up question)</li>
				</ul>
				<p>Throughout the report, respondents who identified
				as biracial, multiracial, or more than one racial
				or ethnic category are included in the multiracial
				group. Additionally, due to small sample sizes and
				for purposes of analysis, certain racial and ethnic
				groups were combined into single categories.
				American Indian and Alaska Native respondents
				are combined in one category and reported
				as “American Indian.” Similarly, the Asian/Asian
				American and Native Hawaiian/Pacific Islander
				groups are also combined in one category and
				reported as “Asian.”19</p>
			</div>
			<div class="col-sm-6">
				<p>The USTS sample had a percentage of white
				respondents that is notably higher than the U.S.
				general population, which is common among
				internet-based surveys.20 Therefore, a race and
				ethnicity weight was developed to more closely
				represent what is estimated to be the actual
				racial and ethnic distribution for the transgender
				population in the U.S., based on the Census 
				Bureau’s 2014 American Community Survey
				(ACS).21 Racial and ethnic categories were
				weighted to reflect the ACS distribution for race
				and ethnicity as part of the standard survey weight
				that was applied to all results presented in the
				report (Figure 4.17).22 </p>
				<h4>FIgure 4.17: Race and ethnicity of respondents</h4>
				<canvas id="figure4.17" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure417.js' %}""></script>
			</div>
		</div>
</div>