{% load static %}

<div class="container section">
	<div class="row headd">
			<div class="col-sm-12">
				<h2>III. Being Percieved as a Transgender Person by Others</h2>
			</div>
	</div>
		<div class="row">
			<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
				<p>Some transgender people find that others can
				routinely tell that they are transgender without
				being told, while others are generally perceived
				as the gender they identify with, and still others
				are perceived as the gender they were thought to
				be at birth. Many interactions and experiences of
				transgender people may be influenced by others’
				perceptions of them as being a transgender
				person. Transgender people who are visually or
				otherwise perceived by others as transgender or
				gender non-conforming may be more vulnerable
				to negative interactions in public or other settings.</p>
				<p>To assess whether respondents were perceived
				as transgender, they were asked whether others
				could tell that they were transgender even without
				being told on a five-point scale from “always” to
				“never.” Nearly one in ten (9%) reported that others
				could tell they were transgender without being
				told “most of the time,” 32% said others could
				“sometimes” tell, and 24% said that others could
				never tell (Figure 4.14).11 Respondents’ experiences
				with others’ perception of their transgender status
				varied by gender identity (Figure 4.15).</p>
				<h4>Figure 4.14 How often people could tell they were transgender without being told</h4>
				<canvas id="figure4.14" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure414.js' %}""></script>
			</div>
			<div class="col-sm-6">
				<canvas id="figure4.15" width="200" height="250"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure415.js' %}""></script>
			</div>
		</div>
</div>