{% load static %}
<div class="container section">
	<div class="row headd">
		<div class="col-sm-12">
			<h2>VIII. Primary Language spoken in Home</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>Respondents were asked about the primary
			language spoken in their home. Eighty-four
			percent (84%) reported that English was the only
			language spoken in their home, compared to 79%
			in the U.S. general population, as reported in the
			American Community Survey (ACS).25 Fourteen
			percent (14%) reported that English and another
			language were mainly spoken in their home,
			and 2% reported that a language other than
			English was the primary language spoken in their
			home. In addition to spoken languages, 0.4% of
			respondents also reported that American Sign
			Language was either the main language or one of
			the main languages used in their home. </p>
			<p>Spanish (including Spanish Creole) was reported
			as the most common language spoken in their
			home other than English, with 10% of respondents
			reporting Spanish was the main language spoken
			in their home, exclusively or along with English.
			This was slightly lower than the percentage of
			those who spoke Spanish in the home in the
			U.S. general population (13%).26 Each of the other
			identified languages were spoken by less than 1%
			of respondents.</p>

		</div>
	</div>
</div>
