<table class="table table-bordered">
	<h4>Table 4.1</h4>
	<thead>
		<tr style="background-color: navy; color: white; font-weight:bold;">
			<th>Gender identity terms</th><th align="right">% of respondents</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Transgender</td><td align="right">65%</td>
		</tr>
		<tr class="table-info">
			<td>Trans</td><td align="right">56%</td>
		</tr>
		<tr>
			<td>Trans Woman (MTF, male to female)</td><td align="right">32%</td>
		</tr>
		<tr class="table-info">
			<td>Trans man (FTM, female to male)</td><td align="right">31%</td>
		</tr>
		<tr>
			<td>Non-binary</td><td align="right">31%</td>
		</tr>
		<tr class="table-info">
			<td>Genderqueer</td><td align="right">29%</td>
		</tr>
		<tr>
			<td>Gender non-conforming or gender variant</td><td align="right">27%</td>
		</tr>
		<tr class="table-info">
			<td>Gender fluid/fluid</td><td align="right">20%</td>
		</tr>
		<tr>
			<td>Androgynous</td><td align="right">18%</td>
		</tr>
		<tr class="table-info">
			<td>Transsexual</td><td align="right">18%</td>
		</tr>
		<tr>
			<td>Agender</td><td align="right">14%</td>
		</tr>
		<tr class="table-info">
			<td>Two-spirit</td><td align="right">7%</td>
		</tr>
		<tr>
			<td>Bi-gender</td><td align="right">6%</td>
		</tr>
		<tr class="table-info">
			<td>Butch</td><td align="right">5%</td>
		</tr>
		<tr>
			<td>Crossdresser</td><td align="right">5%</td>
		</tr>
		<tr class="table-info">
			<td>Multi-gender</td><td align="right">4%</td>
		</tr>
		<tr>
			<td>Third gender</td><td align="right">4%</td>
		</tr>
		<tr class="table-info">
			<td>Intersex</td><td align="right">3%</td>
		</tr>
		<tr>
			<td>Drag performer (king/queen)</td><td align="right">2%</td>
		</tr>
		<tr class="table-info">
			<td>A.G. or aggressive</td><td align="right">1%</td>
		</tr>
		<tr>
			<td>Stud</td><td align="right">1%</td>
		</tr>
		<tr class="table-info">
			<td>Travesti</td><td align="right">1%</td>
		</tr>
		<tr>
			<td>Bulldagger</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>Fa'afafine</td><td align="right"><1%</td>
		</tr>
		<tr>
			<td>Mahu</td><td align="right"><1%</td>
		</tr>
		<tr class="table-info">
			<td>A gender not listed above</td><td align="right">12%</td>
		</tr>
	</tbody>
</table>