{% load static %}

	<div class="container section">
		<div class="row headd">
			<div class="col-sm-12">
				<h2>II. Experiences with Transitioning</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
				<p>Transitioning is a process by which a person begins
				to live in a gender that is different than the one on
				their original birth certificate. Not all transgender
				people have transitioned or intend to do so, but
				many do. Gender transition can involve many
				different aspects, including changing one’s clothing,
				appearance, name, and identity documents (such
				as driver’s licenses or passports) and asking people
				to use different pronouns (such as he, she, or they)
				than the ones associated with the gender on one’s
				original birth certificate. Transitioning may also
				include undergoing medical procedures, such as
				hormone therapy or surgeries, to change one’s
				physical characteristics. Some people make many
				of these changes while others do not, depending
				on their needs and resources. Additionally, some
				transgender people may desire and make some of
				these changes even if they do not intend to live full
				time in a gender that is different than the one on
				their original birth certificate. However, many people
				who want to take these steps are not able to do so
				because of financial constraints, safety concerns, fear
				of discrimination and rejection, and other barriers</p>



				<h3>a.) Full-Time Status and Transition</h3>
				<p>Nearly two-thirds (62%) of respondents were
				currently living full time in a gender that was different
				from the one on their original birth certificate.
				Throughout the report, the process of living full
				time in a gender that is different than that on one’s
				original birth certificate is described as “transitioning.”
				Twenty-two percent (22%) of respondents reported
				that they wanted to transition someday, 13% were
				unsure, and 3% did not want to transition (Figure
				4.7). Three-quarters (75%) of transgender men and
				women had transitioned, and 43% of non-binary
				respondents had transitioned (Figure 4.8).8</p>
				<h4>Figure 4.7 Transition status of respondents</h4>
				<canvas id="figure4.7" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure47.js' %}""></script>
				<canvas id="figure4.8" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure48.js' %}""></script>
				<p>Respondents were also asked what gender they
				were living in on a day-to-day basis. Thirty-five
				percent (35%) of respondents reported that they
				currently lived as a man on a daily basis, 30% lived
				as a woman, 21% lived as neither a man nor a
				woman, and 15% lived part time in one gender and
				part time in another.</p>



				<h3>b.) Age of Transition</h3>
				<p>Those who have transitioned reported the age at
				which they began transitioning, or living full-time
				in a gender other than that on their original birth
				certificate. Nearly half (43%) reported that they
				began transitioning between the ages of 18 and 24,
				and nearly one-quarter (24%) transitioned between
				ages 25 and 34. Fifteen percent (15%) transitioned
				under the age of 18, and 18% transitioned at age 35
				or older. Non-binary respondents and transgender
				men were more likely to have transitioned at a
				younger age, with 24% of non-binary respondents
				and 17% of transgender men transitioning under the
				age of 18, compared to 7% of transgender women
				(Figure 4.9).9</p>
				<canvas id="figure4.9" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure49.js' %}""></script>


				<h3>c.) Number of Years Since Transitioning</h3>
				<p>The number of years since a respondent had
				transitioned was determined in order to provide
				valuable information and context for some of
				the respondents’ experiences.10 Nearly one-third
				(31%) of those who had transitioned had done
				so within one year of taking the survey, 38% had
				transitioned 2 to 5 years prior, 13% transitioned
				6 to 9 years prior, and 18% had transitioned 10 or
				more years prior (Figure 4.10). </p>
				<h4>Figure 4.10: Number of years since transitioning</h4>
				<canvas id="figure4.10" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure410.js' %}""></script>
			</div>
			<div class="col-sm-6">

				<h3>d.) Additional Questions for Non-Binary Respondents</h3>
				<p>Non-binary respondents received questions about
				what they tell other people about their gender identity.
				They were asked about what gender they were
				perceived to be by people who did not know they
				were non-binary. A majority reported that people
				usually assumed they were non-transgender women
				(58%), including 72% of non-binary respondents with
				female on their original birth certificate, and 2% of nonbinary
				respondents with male on their birth certificate.
				Seventeen percent (17%) reported that other people
				assumed they were non-transgender men, including
				77% of non-binary respondents with male on their
				original birth certificate, and 3% of non-binary
				respondents with female on their birth certificate.
				Nearly one in five (19%) reported that assumptions
				about their gender varied (Figure 4.11).</p>
				<h4>Figure 4.11 Gender that people who do not know they are non-binary usually assume they are</h4>
				<canvas id="figure4.11" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure411.js' %}""></script>
				<p>Non-binary respondents were asked how they
				responded when people in their life assumed their
				gender was something other than non-binary.
				Almost half (44%) reported that they usually let
				others assume they were a man or woman, and
				53% sometimes corrected others and told them
				about their non-binary identity. Only 3% always
				told others that they were non-binary (Figure 4.12).</p>
				<canvas id="figure4.12" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure412.js' %}""></script>
				<p>Non-binary respondents who reported that they
				usually let others assume they are a man or
				woman or only sometimes tell people they are
				non-binary were asked for the main reasons they
				do not tell others about their non-binary identity.
				Respondents could select multiple reasons for
				choosing not to tell people about their non-binary
				identity. A majority of non-binary respondents
				reported that people do not understand so they
				do not try to explain it (86%) or that it is easier not
				to say anything (82%). Approximately two-thirds
				reported that their non-binary identity is often
				dismissed as not being a real identity or just a
				phase (63%), and others feared they might face
				violence (43%) (Table 4.2).</p>
				{% include "trans_stats/tables/table42.html" %}




				<h3>e.) pronouns</h3>
				<p>Eighty-four percent (84%) of respondents reported
				that the pronouns they used were different from
				those associated with the sex on their original birth
				certificate. Respondents reported a wide range
				of pronouns that they asked people to use when
				referring to them and could select more than one
				pronoun. The most widely used pronouns were
				“he/his” (37%), “she/her” (37%), and “they/their”
				(29%). One in five (20%) reported that they did
				not ask people to use specific pronouns when
				referring to them, and another 4% indicated that
				they used pronouns other than those provided
				in the answer choices. This included more than a
				dozen additional pronouns provided through writein
				responses (Figure 4.13). </p>
				<canvas id="figure4.13" width="200" height="150"></canvas>
				<script src="{% static 'trans_stats/js/figures/figure413.js' %}""></script>

			</div>
		</div>
	</div>