{% load static %}

<div class="container section">
	<div class="row headd">
		<div class="col-sm-12">
			<h2>X. income and Employment Status</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
			<p>Respondents were asked about various aspects
			of their income using a series of questions based
			on the Current Population Survey (CPS).30 Results
			for income and employment status are presented 
			briefly in this section and discussed in greater
			detail in the Income and Employment Status
			chapter. In order to compare USTS respondents’
			income and employment data with data from the
			CPS and other national data sources, income
			and employment results are presented with the
			“supplement weight” applied.31</p>
			<h3>a.) Sources of Income</h3>
			<p>Nearly half (45%) of respondents received income
			from multiple sources, such as employment, Social
			Security income, or a pension. Thirty-six percent
			(36%) received income solely from their own
			employment or a partner or spouse’s employment
			(not including underground economy work, such
			as sex work, drug sales, or other work that is
			currently criminalized). Nearly one in ten (9%)
			received income from Social Security, including
			disability, and 3% received income solely from
			a pension. Three percent (3%) reported that
			they were currently working in the underground
			economy, including 1% whose income came solely
			from underground economy work (Table 4.4).</p>
			<table class="table table-bordered">
				<h4>Table 4.4: Current sources of income by single and multiple sources</h4>
				<thead>
					<tr style="background-color: navy; color: white; font-weight:bold;">
						<th>Sources of income</th><th align="right">% of respondents (supplemental weight)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Employment only (from their own employer, partner/spouse's employer, or self-employment)</td><td align="right">36%</td>
					</tr>
					<tr class="table-info">
						<td>Social Security income/disability only</td><td align="right">9%</td>
					</tr>
					<tr>
						<td>Pension/retirement only</td><td align="right">3%</td>
					</tr>
					<tr class="table-info">
						<td>Other sources of income only</td><td align="right">3%</td>
					</tr>
					<tr>
						<td>No income</td><td align="right">2%</td>
					</tr>
					<tr class="table-info">
						<td>Sex work and other underground economy work only</td><td align="right">1%</td>
					</tr>
					<tr>
						<td>Unemployed benefits/cash assistance only</td><td align="right">1%</td>
					</tr>
					<tr class="table-info">
						<td>Multiple sources</td><td align="right">45%</td>
					</tr>
				</tbody>
			</table>
			<h3>b.) Individual and Household Income</h3>
			<p>Individual and household incomes for the USTS
			sample and the U.S. population were reported
			from 2014, the last full year prior to the survey
			for which annual income figures were available.
			Respondents reported lower incomes than the U.S.
			population (Figure 4.21 & Figure 4.22).32</p>
		</div>
		<div class="col-sm-6">
			<canvas id="figure4.21" width="200" height="150"></canvas>
			<script src="{% static 'trans_stats/js/figures/figure421.js' %}""></script>
			<canvas id="figure4.22" width="200" height="150"></canvas>
			<script src="{% static 'trans_stats/js/figures/figure422.js' %}""></script>
			<h3>c.) Poverty</h3>
			<p>Nearly one-third (29%) of respondents were living
			in poverty,33 nearly twice the poverty rate among
			the general U.S. adult population (14%).34</p>
			<h3>d.) Employment Status</h3>
			<p>When asked about their current employment
			status, 35% of respondents reported that they
			currently had at least one full-time job, 15% had at
			least one part-time job, 15% were self-employed,
			and 11% were students. The unemployment rate
			for USTS respondents was 15%, three times the U.S.
			unemployment rate at the time of the survey (5%).35</p>
		</div>
	</div>
</div>
