<div class="container top-part">
	<div class="row">
		<div class="col-sm-10 header-thingy">
			<h1 style="margin-top: 25px; margin-bottom:10px;">Portrait of USTS Respondents</h1>
			<p>With 27,715 respondents, the U.S. Transgender Survey (USTS) is the largest survey ever conducted
			of transgender people in the United States, providing a rich understanding of numerous aspects
			of their lives and experiences. In this chapter, an overview of respondents’ diverse gender
			identities and experiences with transitioning is presented. Additional characteristics of USTS respondents,
			such as race and ethnicity, age, educational attainment, and geographic location, are also presented. This
			information is discussed in the following sections:</p>
		</div>
	</div>
	<div class="row categories">
		<div class="col-sm-1"></div>
		<div class="col-sm-3 col-sm-offset-3">
			<ol type="I">
				<li>Gender Identity and Expression</li>
				<li>Experiences with Transitioning</li>
				<li>Being Percieved as Transgender by Others</li>
				<li>Outness</li>
				<li>Race and Ethnicity</li>
			</ol>
		</div>
		<div class="col-sm-3">
			<ol type="I" start="6">
				<li>Age</li>
				<li>Location</li>
				<li>Primary Language Spoken in Home</li>
				<li>Religious or Spiritual Identity</li>
				<li>Income and Employment Status</li>
			</ol>
		</div>
		<div class="col-sm-3">
			<ol type="I" start="11">
				<li>Educational Attainment</li>
				<li>Disability</li>
				<li>Citizenship and Immigration Status</li>
				<li>Sexual Orientation</li>
				<li>Relationship Status</li>
			</ol>
		</div>
	</div>
</div>