body{
	background-color: #FDFDFD;
}
h1{
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	margin-top: 20px;
}
h4 {
	margin-top:20px;
	text-align:center;
}
p {
	margin-top: 20px;
}
.row {
	background-color: #f8f8f8;
	border-radius: 5px;
}
.top-part{
	margin-bottom:40px;
}
.col-sm-6 {
	background-color: #f8f8f8;
	padding: 20px;
	padding-left:40px;
	padding-right:40px;
	border-radius: 5px;
}
canvas {
	margin-bottom: 25px;
}
.header-thingy{
	margin: auto;
}
/*.categories{
	margin: auto;
}*/