body{
	background-color: #FDFDFD;
}
h1{
	text-align: center;
}
h2 {
	text-align: center;
	padding-top: 30px;
}
.headd{
	margin-bottom: 40px;
}
h3 {
	margin: 20px;
}
h4 {
	margin-top:20px;
	text-align:center;
}
p {
	margin-top: 20px;
}
.container {
	background-color: #f8f8f8;
}
.section{
	margin-bottom: 40px;
}
.row {
	border-radius: 5px;
}
.top-part{
	margin-bottom:40px;
}
.col-sm-6 {
	padding: 20px;
	padding-left:40px;
	padding-right:40px;
	border-radius: 5px;
}
canvas {
	margin-bottom: 25px;
}
.header-thingy{
	margin: auto;
}

.text{
	position: absolute;
	left: 30%;
	top: 60%;
}
.hide {
	display: none;
}
img {
	max-width: 100%;
}