body{
	background-color: #FDFDFD;
}
h1 {
	text-align: center;
}
h2 {
	margin-top: 20px;
}
h3 {
	margin-top:20px;
	text-align:center;
}
p {
	margin-top: 20px;
}
.row {
	margin-top: 50px;
}
.col-sm-12 {
	background-color: #f8f8f8;
	padding: 20px;
	padding-left:40px;
	padding-right:40px;
	border-radius: 5px;
}
.col-sm-6 {
	background-color: #f8f8f8;
	padding: 20px;
	padding-left:40px;
	padding-right:40px;
	border-radius: 5px;
}
canvas {
	margin-bottom: 25px;
}